.error { color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
body{
    background-color:#585858;
    background-attachment: fixed;
    background-repeat:no-repeat;
}
h1{
    font-size: 32pt;
}
#wrapper {
	background-color:#FFFFFF;	
}
#header {
	background-repeat:no-repeat;
	height:150px;
	background-color:#FE2E2E;
}
#menu {
	font-family: 'Nunito Sans', sans-serif;
	height:60px;
	background-color:#585858;
	text-align:center;
}
#menu a, #footer a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding: 20px;
	font-family: 'Nunito Sans', sans-serif;
}

#footer {
	background-color:#585858;
	height:25px;
	padding-top:5px;
	text-align:center;
}
.Button_green {
	background-color:green;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	background-color:crimson;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid crimson;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}

.title{
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	margin-left: 30px;
	text-align: left;
	font-size: 60px;
	color: white;

}

.tarjeta{
	margin-left: 5%;
	margin-bottom: 20px;
	float:left;
	padding-top: 5px;
	width: 350px;
	background-color:#585858;
	height: 400px;
}

.imagen{
	margin-bottom: 5px;
	float: left;
	background-color:grey;
	margin-left: 5px;
	width: 180px;
	height: 240px;
}

.contenido{
	float: left;
	padding-top: 5px;
	background-color:#333;
	margin-left: 5px;
	width: 190px;
	height: 390px;
}
.margtop{
	margin-top: -5px;
	float: right;
	background-color:#FFFFFF;
	width: 150px;
	height: 65px;
}

.margbot{
	margin-top: 5px;
	float: right;
	background-color:#FFFFFF;
	width: 150px;
	height: 80px;
}

.button{
	text-decoration: none;
	margin-top: 5px;
	margin-right: 5px;
	float:right;
	background-color:#FE2E2E;
	margin-left: 5px;
	width: 145px;
	height: 80px;
	color: white;
	
}
.button:hover {
	background-color:#FA5858;
	
}
.button:active {
	background-color:#F5A9A9;
	color: #333;
	
}

.textbutton a{
	text-decoration:none;   
	color: white;	
}

.textbutton{
	margin-top: 25px;
	text-align: center;
	font-size: 24px;
}



.buttonmenu{
	padding-right: 5px;
	float:left;
	background-color:#585858;
	width: 130px;
	height: 60px;
	color: white;
	
}
.buttonmenu:hover {
	background-color:#FA5858;
	
}
.buttonmenu:active {
	background-color:#F5A9A9;
	color: #333;
	
}

.textbuttonmenu{
	text-decoration:none;   
	margin-top: 17px;
	text-align: center;
	font-size: 24px;	
}

.sepmenu{
	float: left;
	background-color:#585858;
	width: 5px;
	height: 60px;
}

.centermenu{
	float: left;
	background-color:#585858;
	width: 10%;
	height: 60px;
}

.background1{
	background-image: url("view/img/404.jpg");
}

.ttitulo{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	color: white;
	background-color: #585858;
	height: 40px;
	width: 180px;
}

.ttitulo1{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	color: white;
	background-color: #FE2E2E;
	height: 40px;
	width: 123px;
}

.ttitulo1:hover {
	background-color:#FA5858;
	
}
.ttitulo1:active {
	background-color:#F5A9A9;
	color: #333;
	
}

.enemision{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	color: white;
	background-color: #04B404;
	height: 40px;
	width: 180px;
}

.finalizado{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	color: white;
	background-color: #FE2E2E;
	height: 40px;
	width: 180px;
}
.tttext a{
	text-decoration:none;  
	color:white;
}
.tttext{
	margin-top: 5px;
	text-align: center;
	color:white;
	font-size:19px;
}

.serie{
	z-index: 2;
	margin-top: -30px;
	background-color: #FE2E2E;
	float: right;
	height: 30px;
	width: 90px;
	color: white;
	text-align: center;
	font-size: 17px;
}

.pelicula{
	margin-top: -30px;
	background-color: #FE642E;
	float: right;
	height: 30px;
	width: 90px;
	color: white;
	text-align: center;
	font-size: 17px;
	z-index: 2000;
}

.img{
	z-index: 1;
	float: left;
	width: 180px;
	height: 240px;
}

.imgbig{
	margin-top: 5px;
	margin-left: 5px;
	width: 270px;
	height: 400px;
}

.img1{
	z-index: 1;
	width: 180px;
	height: 240px;
}

.inforead{
	padding-top: 5px;
	width: 900px;
	height: 790px;
	margin-left: 10%;
	background-color: #585858;
}

.imagenbig{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#333;
	margin-left: 5px;
	width: 280px;
	height: 410px;
}

.youtubecont{
	padding: 5px;
	margin-right: 10px;
	float:right;
	background-color:#333;
	width: 585px;
	height: 325px;
}

.relasedata{
	margin-top: 5px;
	margin-left: 5px;
	background-color:#333;
	width: 280px;
}

.tituloreadc{
	margin-bottom: 5px;
	margin-left: 5px;
	float: left;
	width: 890px;
	height: 60px;
	background: #FE2E2E;
}

.ttread{
	text-decoration:none;   
	margin-top: 4px;
	text-align: center;
	font-size: 40px;
	color: white;	
}

.readunderi{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#333;
	margin-left: 5px;
	width: 280px;
	height: 40px;
}

.contprin{
	float: left;
	margin-bottom: 5px;
	float: left;
	margin-left: 5px;
	width: 605px;
	height: 375px;
}

.contprin2{
	float: left;
	margin-bottom: 5px;
	float: left;
	width: 280px;
	height: 180px;
}

.padread{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#585858;
	margin-left: 5px;
	width: 605px;
	height: 40px;
}

.icono{
	margin-right: 19px;
	margin-left: 41%;
	float: left;
	width: 60px;
	height: 60px;
}

.contprinf{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#FE2E2E;
	margin-left: 5px;
	width: 280px;
	height: 40px;
}

.contprine{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#04B404;
	margin-left: 5px;
	width: 280px;
	height: 40px;
}

.textcont{
	margin-top: 9px;
	text-align: center;
	color: white;
	font-size: 18px;
}

.serier{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#FE2E2E;
	margin-left: 5px;
	width: 280px;
	height: 40px;
}

.pelicular{
	float: left;
	margin-bottom: 5px;
	float: left;
	background-color:#FE642E;
	margin-left: 5px;
	width: 280px;
	height: 40px;
}

.descread{
	margin-left: 5px;
	float: left;
	margin-top: 5px;
	background: #333;
	width: 595px;
	height: 200px;
}

.textcontl{
	margin-left: 5px;
	margin-top: 9px;
	text-align: left;
	color: white;
	font-size: 18px;
}

.generosread{
	margin-left: 5px;
	float: left;
	margin-top: 5px;
	background: #333;
	width: 595px;
	height: 80px;
}

.createc{
	float:left;
	text-decoration: none;
	margin-left: 15px;
	padding-top: 5px;
	margin-bottom: 20px;
	background: #585858;
	width: 830px;
	height: 60px;
	color: white;
}

.createop{
	float:left;
	text-decoration: none;
	margin-left: 5px;
	padding-top: 5px;
	margin-bottom: 20px;
	background: #585858;
	width: 830px;
	height: 60px;
	color: white;
}

.menu4{
	text-decoration: none;
	margin-left: 5%;
	padding-top: 5px;
	margin-bottom: 20px;
	width: 1200px;
	height: 70px;
	color: white;
}

.createo{
	float:left;
	text-decoration: none;
	margin-left: 5px;
	padding-top: 5px;
	margin-bottom: 20px;
	background: #585858;
	width: 280px;
	height: 60px;
	color: white;
}

.create{
	text-decoration: none;
	float: left;
	margin-left: 5px;
	background: #FE2E2E;
	width: 270px;
	height: 55px;
	color: white;
}

.createplus{
	text-decoration: none;
	float: left;
	margin-left: 5px;
	background: #04B404;
	width: 270px;
	height: 55px;
	color: white;
}

.createplus:hover {
	background-color:#2EFE64;
	
}
.createplus:active {
	background-color:#58FA82;
	color: #333;
	
}

.createop1{
	text-decoration: none;
	float: left;
	margin-left: 5px;
	background: #0080FF;
	width: 270px;
	height: 55px;
	color: white;
}

.createop1:hover {
	background-color:#58D3F7;
	
}
.createop1:active {
	background-color:#A9E2F3;
	color: #333;
	
}

.textbuttont{
	text-decoration: none;
	margin-top: 12px;
	text-align: center;
	font-size: 24px;
	color: white;
}


.create:hover {
	background-color:#FA5858;
	
}
.create:active {
	background-color:#F5A9A9;
	color: #333;
	
}
.textbuttont a{
	text-decoration:none;   
	color: white;	
}

.gmaps{
	margin-bottom: 20px;
	float:left;
	padding-top: 5px;
	width: 1050px;
	background-color:#585858;
	height: 500px;
}



.cmaps {
	margin-left: 5px;
	width: 1035px;
	height: 490px;
}

.createv{
	text-decoration: none;
	float: left;
	margin-left: 5px;
	background: #CC2EFA;
	width: 270px;
	height: 55px;
	color: white;
}

.createv:hover {
	background-color:#D358F7;
	
}
.createv:active {
	background-color:#DA81F5;
	color: #333;
	
}

.createo1{
	float:left;
	text-decoration: none;
	margin-left: 15px;
	padding-top: 5px;
	margin-bottom: 20px;
	background: #585858;
	width: 280px;
	height: 60px;
	color: white;
}

.cont2{
	margin-bottom: 20px;
	margin-left: 5%;
	background-color: #333;
	float: left;
	width: 1130px;
	height: 50px;
}

.returnc{
	text-decoration: none;
	margin-top: 5px;
	margin-right: 5px;
	float: left;
	background-color:#333;
	margin-left: 5px;
	width: 280px;
	height: 110px;
}
.returncont{
	text-decoration: none;
	margin-top: 5px;
	margin-right: 5px;
	float: left;
	background-color:#04B404;
	margin-left: 5px;
	width: 270px;
	height: 100px;
	color: white;
	
}
.returncont:hover {
	background-color:#2EFE64;
	
}
.returncont:active {
	background-color:#58FA82;
	color: #333;
	
}

.return a{
	text-decoration:none;   
	color: white;	
}

.return{
	margin-top: 27px;
	text-align: center;
	font-size: 42px;
}
